@using ConstructionSiteLibrary.Managers
@using ConstructionSiteLibrary.Repositories
@using ConstructionSiteLibrary.Components.Generics
@using Shared

@inject DialogService DialogService
@inject NotificationManager NotificationManager
@inject QuestionRepository QuestionRepository

<ScreenComponent @ref="screenComponent" />

@if (initialLoading)
{
    <Loading />
}
else
{
    @* La tabella delle questions *@
    <div class="marginMobile">

        <SectionTitle PageTitle="Domande" ButtonText="+ aggiungi domanda" SearchPlaceholder="Cerca domanda"
            OnButtonClicked="@OpenNewForm" OnSearchChanged="@SearchChanged" />
    </div>
    <ul class="list-unstyled">
        @foreach (var question in displayedQuestions)
        {
            <li>
                <div class="marginListEntry">
                    <RadzenStack Gap="0">
                        <RadzenRow Class="rz-mt-2" JustifyContent="JustifyContent.SpaceBetween">
                            <RadzenColumn>
                                <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-2 rz-my-0">
                                    Categoria
                                </RadzenText>
                                <RadzenText TextStyle="TextStyle.Body1"><b>@question.CategoryName</b></RadzenText>
                            </RadzenColumn>
                            <ButtonDropdown Object="@question" OnUpdateClicked="@OpenUpdateForm" OnDeleteClicked="@Hide" />
                        </RadzenRow>
                        <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-2 rz-my-0">
                            Quesito
                        </RadzenText>
                        <RadzenText TextStyle="TextStyle.Body1"><b>@question.Text</b></RadzenText>

                    </RadzenStack>
                </div>
                <hr class="solid">

            </li>
        }
    </ul>

}