@using Shared.Login
@using Shared.Organizations

@inject UserRepository _userRepository

<RadzenTemplateForm TItem="PasswordForm" Data="form" Submit="@Save">
    <div class="vstack gap-3">
        <RadzenFormField Text="Vecchia password" Variant="@variant">
            <ChildContent>
                <RadzenPassword @bind-Value="@form.OldPassword" Name="OldPassword" />
            </ChildContent>
            <Helper>
                <RadzenRequiredValidator Component="OldPassword" Popup=false
                Text="Il campo vecchia password a è obbligatorio" />
            </Helper>
        </RadzenFormField>
        <RadzenFormField Text="Nuova password" Variant="@variant">
            <ChildContent>
                <RadzenPassword @bind-Value="@form.NewPassword" Name="NewPassword" />
            </ChildContent>
            <Helper>
                <RadzenRequiredValidator Component="NewPassword" Popup=false
                Text="Il campo nuova password a è obbligatorio" />
            </Helper>
        </RadzenFormField>
        <RadzenFormField Text="Ripeti nuova password" Variant="@variant">
            <ChildContent>
                <RadzenPassword @bind-Value="@form.RepeatNewPassword" Name="RepeatPassword" />
            </ChildContent>
            <Helper>
                <RadzenRequiredValidator Component="RepeatPassword" Popup=false
                Text="Il campo ripeti nuova password a è obbligatorio" />
                <RadzenCompareValidator Visible=@(!string.IsNullOrEmpty(form.RepeatNewPassword)) 
                Value=@form.NewPassword Component="RepeatPassword" Text="Le nuove password devono essere identiche"/>
            </Helper>
        </RadzenFormField>
        <div class="d-flex justify-content-center mt-2">
            <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Salva"
            IsBusy="onSaving" BusyText="Salva" Style="width:80%" />
        </div>
    </div>
</RadzenTemplateForm>



@code {
    [Parameter]
    public EventCallback OnPasswordChanged { get; set; }
    [Parameter]
    public UserModel UserModel { get; set; }
    private Variant variant = Variant.Outlined;
    private PasswordForm form = new();
    private bool onSaving;


    public async Task Save()
    {
        if(form.IsValid && UserModel is not null)
        {
            onSaving = true;
            try
            {
                ChangePasswordRequest rq = new()
                    {
                        Email = UserModel.Email,
                        OldPassword = form.OldPassword!,
                        NewPassword = form.NewPassword!
                    };
                var result = await _userRepository.ChangePassword(rq);
                if(result)
                {
                    await OnPasswordChanged.InvokeAsync();
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
            }
            onSaving = false;
        }

    }

    public class PasswordForm
    {
        public string? OldPassword { get; set; }
        public string? NewPassword { get; set; }
        public string? RepeatNewPassword { get; set; }

        public bool IsValid {get { return CheckField(); }}

        private bool CheckField()
        {
            return OldPassword is not null
                   && NewPassword is not null
                   && RepeatNewPassword is not null;
        }
    }
}

